body{
    margin: 0 auto;
    font-family: 'Open Sans';
}

.header {
    padding: 10px;
    background-image: linear-gradient(160deg, #7E47CE 2%, #E4D2FF 100%);
}

.header .page-header{
    min-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .page-header .btn-div{
    border-radius: 2em;
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    font-size: 0.9em;
    padding: 0.875em 1.75em;
    font-size: "";
    background: #834dd0;
    border: 1px solid #834dd0;
}


.header .page-header p{
    line-height: 26px;
    padding: 5px 10px;
    margin-bottom: 30px;
    text-align: center;
}

.header img{
    width: 100%;
    height: auto;
}


/* BANNER */

.banner .image-banner{
    height: calc(100vh - 246px);
}

.banner .image-banner video{
    width: 100%;
    height: 100%;
    background-color: #000;
}


img{
    height: auto;
    max-width: 100%;
}

input{
    outline: none;
}

input:focus{
    outline: none;
    box-shadow: none !important;
}

.heading-title{
    color: #452D8C;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.animation-shrink{
    transition-duration: .3s;
    transition-property: transform;
}

/* DETAIL */

.detail-therma{
    background-color: transparent;
    background-image: linear-gradient(160deg, #7E47CE 2%, #E4D2FF 100%);
}

.detail-therma .image-logo{
    margin: 51px 0 0 0;
    text-align: center;
}

.detail-therma .image-logo > img{
    height: auto;
    height: auto;
    max-width: 100%;
}


.detail-therma .preview-video{
    margin: 28px 0 0 0;
}

.detail-therma .preview-video iframe{
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}

.detail-therma .content-therma{
    margin: 12px 20px 0px 20px;
    color: #2A2A2A;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.detail-therma .list-detail{
    margin: 54px 20px 20px 20px;
}

.detail-therma .list-detail ul li{
    color: #3C3C3C;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.detail-therma .icon-image{
    margin: -54px 0px 20px 33px;
    display: inline-block;
    opacity: 0.27;
}

.detail-therma .content-right{
    margin: -52px 20px 0px 46px;
}

.detail-therma .content-right p{
    margin-bottom: 1.5em;
}

.dieu-tri{
    padding: 10px;
}
.dieu-tri .title-dieu-tri{
    margin: 20px 0px 20px 0px;
}

.dieu-tri h2{
    color: #452D8C;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.dieu-tri .group-card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.dieu-tri .group-card img{
    width: 100%;
    height: auto;
}

.dieu-tri .button-card{
    margin-bottom: 20px;
}

.dieu-tri .image-card{
    margin-bottom: 20px;
}

.dieu-tri .image-card img:hover{
    transform: scale(0.9);
}

.dieu-tri .title-button-card h2{
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.dieu-tri .box-title{
    margin-bottom: 20px;
}

.dieu-tri .title-button-card{
    margin: -60px 0px 20px 0px;
}

.dieu-tri .content-card{
    margin: -23px 0px 0px 0px;
    padding: 0px 50px 0px 50px;
    text-align: center;
}

.dieu-tri .content-card p{
    text-align: center;
    color: #454545;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.uu-diem .title-uu-diem{
    margin-bottom: 20px;
}

.tinh-nang{
    background-image: url(http://10therma.vn/wp-content/uploads/2023/12/background-layout-4.png);
    background-size: cover;
    /* margin-bottom: 20px; */
}

.tinh-nang .title-image-tinh-nang{
    margin: 70px 20px 30px 20px;
}

.tinh-nang .title-image-tinh-nang img{
   width: 100%;
   height: auto;
}

.tinh-nang .video-tinh-nang{
    margin-bottom: 40px;
}

.tinh-nang .list-tinh-nang{
    margin: 60px 20px 40px 20px;
    padding: 0px 0px 0px 0px;
}

.tinh-nang .video-tinh-nang iframe{
    width: 100%;
}

.title-lua-chon{
    margin-bottom: 20px;
}
.lua-chon {
    margin-bottom: 20px;
}

.truoc-sau{
    margin-bottom: 20px;
}

/* BEFORE AFTER */
/* Our wrapper */

.image-comparison {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .image-comparison__slider-wrapper {
    position: relative;
  }
  
  .image-comparison__label {
    font-size: 0;
    line-height: 0;
  }
  
  .image-comparison__label,
  .image-comparison__range {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    cursor: ew-resize;
    z-index: 20;
  }
  
  @media (hover) {
    .image-comparison__range:hover ~ .image-comparison__slider .image-comparison__thumb {
      transform: scale(1.2);
    }
  }
  
  .image-comparison .image-comparison__slider-wrapper .image-comparison__range:active ~ .image-comparison__slider .image-comparison__thumb,
  .image-comparison .image-comparison__slider-wrapper .image-comparison__range:focus ~ .image-comparison__slider .image-comparison__thumb,
  .image-comparison .image-comparison__slider-wrapper .image-comparison__range--active ~ .image-comparison__slider .image-comparison__thumb {
    transform: scale(0.8);
    background-color: rgba(0, 97, 127, 0.5);
  }
  
  .image-comparison__image-wrapper--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% + 1px);
    height: 100%;
    overflow: hidden;
  }
  
  .image-comparison__figure {
    margin: 0;
  }
  .image-comparison__figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none;
  }
  .image-comparison__figure:not(.image-comparison__figure--overlay) {
    position: relative;
    padding-top: 66.666666667%;
  }
  
  .image-comparison__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 50%;
       object-position: 0 50%;
    overflow: hidden;
    border-radius: 40px !important;
  }
  .image-comparison__figure--overlay .image-comparison__image {
    z-index: 1;
    /* border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important; */
  }
  
  .image-comparison__caption {
    position: absolute;
    bottom: 12px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  @media screen and (max-width: 40.063em) {
    .image-comparison__caption {
      font-size: 12px;
    }
  }
  
  .image-comparison__caption--before {
    left: 12px;
    z-index: 2;
  }
  
  .image-comparison__caption--after {
    right: 12px;
    text-align: right;
  }
  
  .image-comparison__caption-body {
    max-width: 40vmin;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, 0.55);
  }
  
  .image-comparison__slider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;
  }
  .image-comparison__range--active ~ .image-comparison__slider {
    background-color: rgba(255, 255, 255, 0);
  }
  
  .image-comparison__thumb {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0091df;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.5);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .image-comparison__range::-webkit-slider-runnable-track {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  
  .image-comparison__range::-moz-range-thumb {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  
  .image-comparison__range::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  
  .image-comparison__range::-ms-fill-lower {
    background-color: transparent;
  }
  
  .image-comparison__range::-ms-track {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: transparent;
    outline: none;
    cursor: col-resize;
  }
  
  .image-comparison__range::-ms-thumb {
    width: 0.5%;
    height: 100%;
    opacity: 0;
  }
  
  .image-comparison__range::-ms-tooltip {
    display: none;
  }




/* sadsđas */

.chung-chi{
    margin-bottom: 20px;
}

.chung-chi .item-image{
    padding: 0 50px 20px 50px;
}


.form-customer{
    background-color: #FFFFFF;
    background-image: url(http://10therma.vn/wp-content/uploads/2023/12/form-dang-ky.jpg);
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
}

.form-customer .form-item{
    margin: 65px 20px 60px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}


.form-customer .sub-text-title{
    color: #9F9F9F;
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}

.form-customer .form-submit .form-group label:after{
    content: "*";
    color: red;
    padding-left: 0.2em;
}

.form-customer .form-submit .form-group label{
    color: #7A7A7A;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 17px;
    margin: 0;
}


.form-customer .form-submit .form-group input{
    background-color: #D5D5D5;
    border-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 15px;
    border: 0;
}

.form-customer .form-submit .input-group input{
    border-radius: 5px 0px 0px 5px;
}

.form-customer .button-form button{
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
    border-radius: 50px 50px 50px 50px;
    padding: 0px 0px 0px 0px;
    background-color: #462F8B;
    color: #ffffff;
    width: 100%;
    border: none;
}

.form-customer .input-group-text{
    color: #7A7A7A;
}

.tu-van-ngay .group-button {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}


.btn-div {
    border-radius: 2em;
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    font-size: 0.9em;
    padding: 0.875em 1.75em;
    font-size: "";
    background: #834dd0;
    border: 1px solid #834dd0;
}

.tu-van-ngay{
    background-color: #dcc8fc;
}

.hc {
   width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hc i{
    animation: heartbeat 1s infinite;
    color: red;
    font-size: 32px;
}

.tu-van-ngay a{
    border-radius: 92px !important;
    color: #fff;
    font-size: 1.2em;
    background: #834dd0;
    border: 1px solid #834dd0;    
    display: flex;
    justify-content: flex-end;
    padding: 0 !important;
    align-items: center;
    border-radius: 92px !important;
    width: fit-content;
    margin: 0 auto;
    padding-right: 30px !important;
    cursor: pointer;
    margin-bottom: 60px;
}

#heart {
    position: relative;
    width: 76px;
    height: 76px;
    animation: heartbeat 1s infinite;
    left: 8px;
    top: 17px;
}

#heart:before, #heart:after {
    position: absolute;
    content: "";
    left: 29px;
    top: 0;
    width: 29px;
    height: 45px;
    background: #ff5e5e;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}


@keyframes heartbeat {
    0% {
        transform: scale( .75 );
    }
    20% {
        transform: scale( 1 );
    }
    40% {
        transform: scale( .75 );
    }
    60% {
        transform: scale( 1 );
    }
    80% {
        transform: scale( .75 );
    }
    100% {
        transform: scale( .75 );
    }
}


.tu-van-ngay .content-tu-van .p{
    margin-bottom: 25px;
}



.widget{
    background-color: #dcc8fc;
    padding-bottom: 20px;
}

.widget .widget-box .card{
    background: #FFF;
    border: 1px solid #834dd0;
    border-radius: 29px;
    opacity: 1;
    padding: 30px 25px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.widget .widget-box .card img{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.widget .widget-box .card .caption{
    text-align: center;
    font-size: 13px;
    line-height: 21px;
    /* min-height: 200px; */
}

.widget .widget-box .card .title{
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: #474747;
}


.positive .background-positive{
    background: url('../Asset/svg/background.svg') no-repeat top center;;
    background-size: cover;
    margin-top: -160px;
    padding-top: 100px;
    position: relative;
    z-index: 15;
    padding-bottom: 30px;
}

.positive .title-positive h3{
    line-height: 30px;
    font-size: 26px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.positive .card{
    min-height: 185px;
    border: none;
    background: #FFF;
    border-radius: 12px;
    padding: 10px;
}

.positive .card .card-body{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}


.cong-nghe .background{
    background-color: #ededed;
}

.cong-nghe .content-cong-nghe{
    padding: 30px 0px 0px 0px;
}

.cong-nghe .content-cong-nghe h3{
    line-height: 30px;
    font-size: 26px;
    margin-bottom: 30px;
    text-transform: uppercase;
} 


.cong-nghe .content-cong-nghe p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 26px;
} 


.cong-nghe .tag-cong-nghe{
    width: 100%;
    height: 78px;
    background: #000;
    display: flex;
    align-items: center;
    border-radius: 47px;
    padding-left: 5px;
    float: right;
    margin-bottom: 30px;
}

.cong-nghe .tag-cong-nghe .text-tag{
    text-align: center;
    font-size: 23px;
    letter-spacing: 0;
    padding-left: 20px;
    color: #F8EEEE;
    text-transform: uppercase;
}


.cong-nghe .tag-cong-nghe .digit{
    height: 66px;
    background: #834dd0;
    border-radius: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    color: #212529;
    text-transform: uppercase;
    padding: 0 12px;
}


.cong-nghe .btn-action:before{
    content: 'Tặng discount 25%';
}

.plus-arrow:before {
    padding-right: 90px;
    text-align: end;
    width: 192px;
    height: 40px;
    background: url(../Asset/svg/arrow.svg) no-repeat top right;
    display: block;
}

.plus-arrow:after{
    clear: both;
    content: "";
    display: table;
}

.cong-nghe .btn-action a{
    background: #834dd0;
    padding: 1rem !important;
    box-shadow: 0 3px 30px #dcc8fc;
    border-radius: 38px;
    font-size: 21px!important;
    color: #fff;
}


.cong-nghe .btn-action{
    width: 100%;
    display: flex;
    justify-content: center;
}



.swiper-after-before{
    background-color: #dcc8fc;
    padding: 40px 0px;
}

.swiper-after-before img{
    border-radius: 15px;
}



.swiper-button-next, .swiper-button-prev {
    color: #834dd0 !important;
}

.text-right{
    text-align: right;
}

.after-before{
    margin-bottom: 30px;
}


.tiktok .group-preview-tiktok{
    background-color: #ededed;
}

.tiktok .group-preview-tiktok video{
    max-height: 16rem;
    background: #000;
}


.tiktok .group-preview-tiktok .card{
    height: 100%;
}


.khien-ban .box-content-khien-ban{
    background: #dcc8fc;
    padding: 30px 20px;border-radius: 20px;
}

.khien-ban .box-content-khien-ban h3{
    color: #452D8C;
    font-weight: 500;
}


.khien-ban .box-content-khien-ban p{
    font-size: 20px;
    color: #727272;
}

.title-qa span{
    padding: 0px 7px;
    background: #ededed;
    border-radius: 13px;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    color: #452D8C;
}

.title-qa h4{
    font-weight: 700;
}

.QA p{
    font-size: 21px;
    letter-spacing: 1.2px;
}

#modal-form-customer .head-form button{
    width: 248px;
    height: 57px;
    background: #834dd0;
    color: #fff;
    border: none;
    border-radius: 57px;
    pointer-events: none;
    font-size: 22px;
}


#modal-form-customer form input{
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    text-align: center;
    color: #000;
    font-size: 17px;
    resize: none;
    color: #000;
    border-radius: 0px;
}


#form-customer .text-danger{
    font-size: 10px;
}